@model Library.Models.Client

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewBag.Title = "Изменить клиента";
}

<h2>Изменить клиента</h2>

@using (Html.BeginForm("Edit", "Clients", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Id)

    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
    </div>

    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
    </div>

    <div>
        @Html.LabelFor(m => m.MiddleName)
        @Html.TextBoxFor(m => m.MiddleName)
    </div>

    <div>
        @Html.LabelFor(m => m.PassportSeries)
        @Html.TextBoxFor(m => m.PassportSeries)
    </div>

    <div>
        @Html.LabelFor(m => m.PassportNumber)
        @Html.TextBoxFor(m => m.PassportNumber)
    </div>

    <input type="submit" value="Сохранить" />
}

<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>
